
<mat-card>
  <mat-card-header>Fireball</mat-card-header>
  Description:
  <br>
  The Fireball application displays a map with place and time as well as the strength of burning up of any asteroid within the atmosphere. Unlike the NASA API the data is not in real-time but from a timespan between 1900 and 2021. The size of the red circles represent the strength of the asteroid in kt (kilo tons) and will determine the impact energy. You can hover over the circles to get more details about the asteroid.

  <mat-card-actions>
    <button mat-raised-button (click)="goToLink()">Go to Map</button>
  </mat-card-actions>
</mat-card>

