<app-saved-asteroids (removeStarEvent)="removeStarFromMainTable($event)"></app-saved-asteroids>
<!--Filtering and search-->
<mat-card>
  <mat-toolbar>
    <!-- tool bar with search items-->
    <mat-toolbar-row>
      <p class="name" style="color: white; font-size: 20px;">
        <span>
          Search by timespan
        </span>
        <br/>
        <span style="color: white; font-size: 10px;">(timespan shouldn't be greater than 7 days)</span>
      </p>

      <span class="toolbarSpacing"></span>
      <p class="name" style="color: white; font-size: 20px;">Search by Asteroid-ID</p>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <!-- search by timespan -->

      <input name="startDate" [(ngModel)]="startDate_string" type="date" matInput value="{{startDate_string}}">
      <span style="color: white;"> - </span>
      <input name="endDate" [(ngModel)]="endDate_string"  type="date" matInput value="{{startDate_string}}">

      <button (click)="getTimespan()" mat-button>
        <mat-icon style="color: white">search</mat-icon>
      </button>

      <span class="toolbarSpacing"></span>

      <!-- search by ID -->
      <input name="searchId" [(ngModel)]="searchId"  matInput placeholder="ID" value="">

      <button (click)="searchById()" mat-button>
        <mat-icon style="color: white">search</mat-icon>
      </button>

    </mat-toolbar-row>
  </mat-toolbar>
</mat-card>

<mat-card>

  <!-- Table with results of the search -->
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort #sorter1="matSort" class="mat-elevation-z8" >
    <!-- first 4 columns  -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- distance Column -->
    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Distance </th>
      <td mat-cell *matCellDef="let element"> {{element.distance}} </td>
    </ng-container>

  <!-- Diameter Column -->
    <ng-container matColumnDef="diameter">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Diameter </th>
      <td mat-cell *matCellDef="let element">
        {{element.diameter}}
        <!-- <mat-icon id="icon" style="font-size: 10;" >album</mat-icon> -->
      </td>
    </ng-container>

  <!-- date_time Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date/Time </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
    <!-- <ng-container matColumnDef="{{column}}"  *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container> -->

    <!-- Link for jbl-website -->
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Link </th>
      <td mat-cell *matCellDef="let element">
        <button class="star"  (click)="details(element.link)" mat-button >
          info
        </button> </td>
    </ng-container>

    <!-- favorite column  -->
    <!-- sort does not work with *ngIf !-->
    <ng-container matColumnDef="favorite">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matSort> Favorite </th>
      <td mat-cell *matCellDef="let element" class="button">
        <div *ngIf="element.is_favorite == false;then border_star; else fill_star">
        </div>
          <ng-template #border_star>
            <div>
              <button  class="star" (click)="favorite(element)" mat-button >
              <mat-icon >star_border</mat-icon>
              </button>
            </div>

          </ng-template>
          <ng-template #fill_star>
            <div>
              <button class="star"  (click)="favorite(element)" mat-button >
                <mat-icon >star</mat-icon>
              </button>
            </div>

          </ng-template>
      </td>
    </ng-container>

    <!-- expanded Details  -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-description">
              <p> Id: {{element.details.id}} </p>
              <p> potentially hazardous: {{element.details.potentially_hazardous}} </p>
              <p> close approach date: {{element.details.close_approach_date}} </p>
              <p> relative_velocity: {{element.details.relative_velocity}} </p>
              <p> miss_distance: {{element.details.miss_distance}} </p>
              <p> is_sentry_object: {{element.details.is_sentry_object}} </p>
              <div *ngIf="element.details.orbit_class != ''">
                <p> orbit_class: {{element.details.orbit_class}}</p>
              </div>

          </div>
        </div>
      </td>
    </ng-container>

    <!-- table definitions  -->
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

</mat-card>

<!-- Search by Id - Table for the close approach data, we get mutiple dates  -->
<div *ngIf="idSearch == true">
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Close approach data of {{searchId}}</mat-card-title>
    </mat-card-header>
    <!-- table  -->
    <table mat-table [dataSource]="dataSourceDates" multiTemplateDataRows class="mat-elevation-z8" >

      <ng-container matColumnDef="{{column}}"  *ngFor="let column of displayedColumnsDates">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsDates"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumnsDates;">
    </tr>
  </table>
  </mat-card>
</div>
